.page-template-page-product .breadcrumb {
  max-width: 1200px;
  margin: auto;
  color: #fff;
  text-align: left;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1200px) {
  .page-template-page-product .breadcrumb {
    padding: 20px;
  }
}

.page-template-page-product .breadcrumb a {
  color: #fff;
}

.page-template-page-product .main-visual {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../images/product/product_visual.jpg);
  background-size: cover;
  background-position: center 45%;
  background-repeat: no-repeat;
  z-index: 1;
}

.page-template-page-product .main-visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}

.page-template-page-product .main-visual-inner {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .page-template-page-product .main-visual-inner {
    padding: 20px;
  }
}

.page-template-page-product .main-visual-inner h1 {
  margin: 0;
  text-align: left;
}

.page-template-page-product .product-wrap {
  max-width: 1200px;
  margin: 40px auto;
  width: 100%;
}
@media (max-width: 1200px) {
  .page-template-page-product .product-wrap {
    padding: 20px;
  }
}

.page-template-page-product .product-wrap h2 {
  font-size: 1.5rem;
  font-weight: bold;
  background: url(../images/icon/icon_niku.svg) no-repeat left center;
  background-size: 32px 32px;
  padding-left: 36px;
  margin-bottom: 40px;
  border-bottom: 4px solid;
  -o-border-image: linear-gradient(to right, #333 0%, #333 10%, #ffd700 10%, #ffd700 50%, #333 50%, #333 100%) 1;
     border-image: linear-gradient(to right, #333 0%, #333 10%, #ffd700 10%, #ffd700 50%, #333 50%, #333 100%) 1;
}

.page-template-page-product .product-category {
  height: 100%;
  margin-bottom: 60px;
}

.page-template-page-product .product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .page-template-page-product .product-grid {
    grid-template-columns: repeat(2, 2fr);
  }
}

.page-template-page-product .product-item {
  border: 1px solid #ccc;
  padding: 20px;
}

.page-template-page-product .product-image:hover {
  overflow: hidden;
}

.page-template-page-product .product-image img:hover {
  transform: scale(1.1);
  transition: transform 0.2s linear;
}

.page-template-page-product .product-category a:hover {
  color: #d17600;
}

.page-template-page-product .product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.page-template-page-product-detail .breadcrumb {
  max-width: 1200px;
  margin: auto;
  color: #fff;
  text-align: left;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1200px) {
  .page-template-page-product-detail .breadcrumb {
    padding: 20px;
  }
}

.page-template-page-product-detail .breadcrumb a {
  color: #fff;
}

.page-template-page-product-detail .main-visual {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../images/product/main-visual.jpg);
  background-size: cover;
  background-position: center 65%;
  background-repeat: no-repeat;
  z-index: 1;
}

.page-template-page-product-detail .main-visual-inner {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1200px) {
  .page-template-page-product-detail .main-visual-inner {
    padding: 20px;
  }
}

.page-template-page-product-detail .main-visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}

.page-template-page-product-detail .main-visual-inner {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.page-template-page-product-detail .main-visual-inner h1 {
  margin: 0;
  text-align: left;
}

.product-detail {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
@media (max-width: 1200px) {
  .product-detail {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .product-detail {
    display: block;
  }
}

.product-detail .product-content {
  margin-bottom: 40px;
}

.product-detail figure {
  margin-bottom: 40px;
}

.page-template-page-about .breadcrumb {
  max-width: 1200px;
  margin: auto;
  color: #fff;
  text-align: left;
  width: 100%;
  z-index: 1;
}

.page-template-page-about .breadcrumb a {
  color: #fff;
}

.page-template-page-about .main-visual {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../images/About/about-main-visual.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (max-width: 1200px) {
  .page-template-page-about .main-visual {
    padding: 20px;
  }
}

.page-template-page-about .main-visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}

.page-template-page-about .main-visual-inner {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.page-template-page-about .main-visual-inner h1 {
  margin: 0;
  text-align: left;
}

.page-template-page-about section {
  width: 100%;
  height: 100%;
  margin: auto;
}

.page-template-page-about .about-inner {
  max-width: 1200px;
  margin: 120px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
}
@media (max-width: 1200px) {
  .page-template-page-about .about-inner {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .page-template-page-about .about-inner {
    grid-template-columns: repeat(2, 1fr);
    margin: 80px auto;
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .page-template-page-about .about-inner {
    grid-template-columns: 1fr;
    margin: 60px auto;
  }
}

.page-template-page-about .about-item {
  padding: 20px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
}

.page-template-page-about .about-item a {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.page-template-page-about .about-item a:hover h2 {
  color: #ffd700;
  text-decoration: underline;
}
.page-template-page-about .about-item a:hover img {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.page-template-page-about .about-item-content {
  display: block;
  width: 100%;
}
.page-template-page-about .about-item-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.2s ease;
}

.page-template-page-about .about-item h2 {
  width: 100%;
  color: #fff;
  padding: 10px 0 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.page-template-default .breadcrumb,
.page-template-page-about-detail .breadcrumb {
  max-width: 1200px;
  margin: auto;
  color: #fff;
  text-align: left;
  width: 100%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .page-template-default .breadcrumb,
  .page-template-page-about-detail .breadcrumb {
    padding: 10px 20px 0;
  }
}

.page-template-default .breadcrumb a,
.page-template-page-about-detail .breadcrumb a {
  color: #fff;
}

.page-template-default .main-visual,
.page-template-page-about-detail .main-visual {
  position: relative;
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url(../images/About/about-main-visual.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.page-template-default .main-visual::before,
.page-template-page-about-detail .main-visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0) 100%);
  z-index: 0;
}

.page-template-default .main-visual .main-visual-inner,
.page-template-page-about-detail .main-visual-inner {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .page-template-default .main-visual .main-visual-inner,
  .page-template-page-about-detail .main-visual-inner {
    padding: 0 20px;
  }
}

.page-template-default .main-visual .main-visual-inner h1,
.page-template-page-about-detail .main-visual-inner h1 {
  margin: 0;
  text-align: left;
}

.page-template-page-about-detail .about-detail-wrap {
  max-width: 1200px;
  margin: 40px auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
@media (max-width: 1024px) {
  .page-template-page-about-detail .about-detail-wrap {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .page-template-page-about-detail .about-detail-wrap {
    display: block;
  }
}

.page-template-page-about-detail .about-detail {
  height: 100%;
}
@media (max-width: 768px) {
  .page-template-page-about-detail .about-detail {
    margin-bottom: 40px;
  }
}

.page-template-page-about-detail .about-detail-content .wp-block-columns {
  font-size: 1rem;
  padding: 0 0 20px;
}

.page-template-page-about-detail .wp-block-table table {
  width: 100%;
  table-layout: fixed;
}
.page-template-page-about-detail .wp-block-table td:nth-child(1),
.page-template-page-about-detail .wp-block-table th:nth-child(1) {
  width: 30%;
  padding: 20px;
  font-weight: bold;
  background: #f7f6f6;
}
.page-template-page-about-detail .wp-block-table td:nth-child(2),
.page-template-page-about-detail .wp-block-table th:nth-child(2) {
  width: 70%;
  font-weight: bold;
  padding: 20px;
}

.page-template-page-about-detail .about-detail {
  flex: 3;
}

.page-template-page-about-detail .about-history-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.page-template-page-about-detail .ellipse-box-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-template-page-about-detail .ellipse-box {
  width: 100px;
  height: 30px;
  background: rgb(255, 237, 155);
  clip-path: inset(0 round 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-template-page-about-detail .line {
  width: 1px;
  height: 300px;
  background: #b6b6b6;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.page-template-page-about-detail .history-title {
  margin-left: 20px;
  padding-top: 5px;
}

.page-template-default .inquiry-form-wrap {
  width: 100%;
}

.page-template-default section {
  height: 100%;
}

.page-template-default .page-inquiry .wpcf7 {
  max-width: 1200px;
  margin: 40px auto;
  width: 100%;
}

.page-template-default .wpcf7 .wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.page-template-default .wpcf7 .wpcf7-form {
  font-weight: bold;
}

.page-template-default .wpcf7 .wpcf7-form span input {
  border: solid 2px #333;
}

.page-template-default .wpcf7 .wpcf7-form textarea {
  border: solid 2px #333;
}

.page-template-default .wpcf7 .wpcf7-form .wpcf7-submit {
  padding: 3px 10px;
  border: solid 2px #333;
  border-radius: 10px;
  background: #333;
  color: #fff;
  font-weight: bold;
}
.page-template-default .wpcf7 .wpcf7-form .wpcf7-submit:hover {
  background: #ffd700;
  color: #333;
}/*# sourceMappingURL=page.css.map */